*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;

  background-color: #fafafa;
  margin: 0;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

hr {
  border: 2px solid #407bff;
  width: 60px;
  margin-bottom: 30px;
}

p {
  color: rgba(139, 139, 139, 1);
  font-size: 16px;
  text-align: center;
}
h1 {
  font-weight: 600;
  font-size: 28px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  margin: 0 0;
  margin-bottom: 12px;
}
h2 {
  color: rgba(0, 0, 0, 1);
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  margin-top: 60px;
}
.travel {
  justify-content: center;
  margin-top: 60px;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 40px;
}
.travel img {
  width: 100%;
  height: auto;
}

.bublina,
.bublina2 {
  display: flex;
  margin-top: 30px;
  background-color: #407bff;
  height: 40px;
  width: 195px;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  margin: 0 auto;
}
.bublina p {
  color: #ffffff;
  font-weight: 500;
  margin: 11px auto;
}

.bublina2 {
  margin-top: 10px;
  width: 220px;
  height: 40px;
  background-color: #8b8b8b;
  font-weight: 500;
}

.bublina2 p {
  color: #fafafa;
}

.bilabublina {
  background: #ffffff;
  border-radius: 10px;
  align-items: center;
  display: flex;
  height: 80px;
 
  margin-bottom: 15px;
  box-shadow: 0px 4px 6px #407bff1f;
}

.bilabublina img {
  height: 40px;
  width: auto;
  margin-left: 20px;
  margin-right: 30px;
}
.bilabublina p {
  font-size: 13px;
  font-weight: 300;
  padding-right: 10px;
}
.vsechnybubliny div:first-of-type {
  margin-top: 30px;
}

.vsechnybubliny > div:nth-of-type(4) {
  margin-top: 30px;
}

/* // ----------------tablet ------------------------// */

@media screen and (min-width: 650px) and (max-width: 1100px) {
  body {
    margin-right: 20px;
    margin-left: 20px;
  }
  /* .kontejner div:first-of-type {
  margin-top: 10px;
}

.kontejner > div:nth-of-type(4) {
  margin-top: 10px;
} */

  .prvnibox > p {
    margin-left: 90px;
    margin-right: 90px;
    /* // tady prepsat  */
  }
  .travel {
    width: 50%;
    justify-content: center;
    margin: 0 auto;
  }
  .travel img {
    width: 100%;
    height: auto;
    margin-top: 60px;
  }
  /*  .kontejner div:first-of-type {
    margin-top: 0;
    }
     .kontejner > div:nth-of-type(4) {
      margin-top: 0;
    } */
  .bublinavedlesebe {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 80px;
    margin-left: 167px;
    margin-right: 167px;
  }

  .bublina,
  .bublina2 {
    margin: 0 5px;
    padding: 5px;
  }
  .text > p {
    margin-left: 110px;
    margin-right: 110px;
  }
  .tribubliny {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
  }

  .bilabublina {
    flex: 1 1 calc((100% / 3)-12px);
    margin: 10px 0;
    margin-left: 18px;
    padding: 5px 10px;
    flex-direction: column;
    /*  width: 180px;*/
    height: 172px;
    justify-content: center;
  }
  .bublinavedlesebe p {
    font-size: 14px;
  }
  .box>p, .box2>p,box3>p {
    margin-right: 80px;
    margin-left: 80px;

  }
}

/* // ------------- PC verze --------------------- */

@media screen and (min-width: 1100px) {
  body {
    padding: 0;
    margin: 80px 60px;
  }

  .travel {
    width: auto;
    order: 1;
    margin: 0;
    margin-right: 40px;
  }
  .travel img {
    margin: 0;
    height: 100%;
    width: 470px;
  }
  hr {
    margin-left:0;
}

  .prvnibox {
    display: flex;
    height: 360px;
  }
  .box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-top: 70px;
    margin-right: 100px;
    width:490px;
  }

  .box p,
  h1,
  h2
{
    text-align: left;
  }

  .bublinavedlesebe {
    display: flex;
    justify-content: flex-start;
  }

  .bublina2,
  .bublina {
    margin: 0;
  }
  .bublina2 {
    margin-left: 10px;
  }

  .druhybox,
  .tretibox {
    display: flex;
    flex-direction: row;
    height: 191px;
    margin-top: 80px;
  }
  .box2 {
    width: 430px;
    order: 2;
    margin: 0;
    padding: 0;
    margin-left: 60px;
    margin-right:30px;
    text-align: left;
  }

  .box2 > p {
    margin: 0;
    padding: 0;

    text-align: left;
  }
  .druhybox .tribubliny,
  .tretibox .tribubliny {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
  }
  .bilabublina {
    flex: 1 1 calc((100% / 3)-12px);
/*     margin: 10px 0; */
    margin-bottom: 0;
    margin-left: 18px;
    padding: 15px 20px;
    flex-direction: column;
    width: 170px;
    height: auto;
    justify-content: center;
  }
 .bilabublina:nth-child(1) {
    margin-left: 0;
  }

  .tretibox > .tribubliny{
    margin-right: 30px;
  }
  .box3 {
    margin-right: 60px;
    width: 430px;
    /*   text-align: left; */
  }

  .box3 > p {
    margin: 0;
    padding: 0;
    text-align: left;
  }
}
